Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

SELECT RTRIM(FIRST_NAME)
FROM WORKER

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

SELECT DEPARTMENT, LEN(DEPARTMENT) FROM
(SELECT DISTINCT DEPARTMENT FROM WORKER) D

Q-3. Write an SQL query to fetch nth max salaries from a table.

SELECT SALARY FROM
(SELECT SALARY, RANK () OVER (ORDER BY SALARY DESC) Rank FROM WORKER) R
WHERE Rank=n