Q-17.  Write an SQL query to show the top n (say 10) records of a table.

SELECT * FROM WORKER
LIMIT n

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

SELECT SALARY FROM
(SELECT SALARY,RANK()OVER(ORDER BY SALARY DESC) Rank FROM WORKER)R
WHERE Rank=n