Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT SALARY FROM
(SELECT SALARY, RANK () OVER (ORDER BY SALARY DESC) Rank FROM WORKER) R
WHERE Rank=5

Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT ID, NAME, SALARY FROM
(SELECT ID, NAME, SALARY, COUNT (*) OVER (PARTITION BY SALRY) AS SALARYCNT
FROM WORKER) S1
WHERE SALARYCNT>1