Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

SELECT LEFT(FIRST_NAME,3)
FROM WORKER

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

SELECT CHARINDEX ('A', 'AMITABH') AS POSITION

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

SELECT FIRST_NAME FROM
(SELECT FIRST_NAME, RANK () OVER (PARTITION BY DEPARTMENT ORDER BY SALARY DESC)R 
FROM WORKER)S
WHERE R=1