Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM WORKER
WHERE YEAR(DOJ)=2014 AND MONTH(DOJ)=2

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT ID, NAME, COUNT (*)
FROM WORKER
GROUP BY 1,2
HAVING COUNT (*)>1

Q-3. How to remove duplicate rows from Employees table.

SELECT * FROM
(SELECT ID, NAME, EMAIL,
ROW_NUMBER () OVER (PARTITION BY ID, NAME, EMAIL ORDER BY ID, NAME, EMAIL) Row
FROM WORKER) R
WHERE Row=1