Q-13. Write an SQL query to show only odd rows from a table.

SELECT * FROM
(SELECT *, ROW_NUMBER () OVER (ORDER BY ID) R FROM WORKER)
WHERE R%2=1

Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE WORKER_CLONE AS
(SELECT * FROM WORKER)